{% extends 'markapp/basic.html' %}
{% load static %}
{% block title %}Userpage{% endblock %}
{% block body %}
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{% url 'index' %}"
                                aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span
                                    class="hide-menu">Dashboard</span></a></li>
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Components</span></li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="file-text" class="feather-icon"></i><span
                                    class="hide-menu">Incidents </span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="{% url 'form' %}" class="sidebar-link"><span
                                            class="hide-menu"> Report an Incidents
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="/" class="sidebar-link"><span
                                            class="hide-menu"> Saved Incidents
                                        </span></a>
                                </li>
                            </ul>
                        </li>

                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Extra</span></li>
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{% url 'logoutuser' %}"
                                aria-expanded="false"><i data-feather="log-out" class="feather-icon"></i><span
                                    class="hide-menu">Logout</span></a></li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-7 align-self-center">
                        <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">New master incident</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item"><a href="index.html" class="text-muted">Initial
                                            Reporting</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Incidents Form</h4>
                                <form method="POST" action="">
                                {% csrf_token %}
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label">Location :</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="location" name="location">
                                                <option>Corporate Headoffice</option>
                                                <option>Operations Departments</option>
                                                <option>Work Station</option>
                                                <option>Marketing Division</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label">Incident Discription :</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" id="desc" name="desc" rows="3" required></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label">Date and Time of Incident :</label>
                                        <div class="col-sm-10">
                                            <input type="date" id="date" name="date" required>
                                            <input type="time" id="time" name="time" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label">Incident Location</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" id="inc_location" name="inc_location" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label">Initial Severety :</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="severety" name="severety">
                                                <option>Mild</option>
                                                <option>Moderate</option>
                                                <option>Savere</option>
                                                <option>Fatal</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label">Suspected Cause :</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" id="cause" name="cause" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label">Immediate Action Taken :</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" id="action" name="action" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label">Sub incident type :</label>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"  id="environment" name="environment">
                                                <label class="form-check-label" for="defaultCheck1">
                                                  Environmental Incident
                                                </label>
                                              </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"  id="injury" name="injury">
                                                <label class="form-check-label" for="defaultCheck1">
                                                  Injury Illness
                                                </label>
                                              </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="damage" name="damage">
                                                <label class="form-check-label" for="defaultCheck1">
                                                  Property Damage
                                                </label>
                                              </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="vehicle" name="vehicle">
                                                <label class="form-check-label" for="defaultCheck1">
                                                  Vehicles
                                                </label>
                                              </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label">Reported by :</label>
                                        <div class="col-sm-10">
                                            {{request.user}}
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-info">Submit</button>
                                            <button type="reset" class="btn btn-dark">Reset</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->

        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    {% endblock %}
    {% block js %}
    {% endblock %}
